<div class="container">
    <h1>Sobre mim</h1>
    <h4>
        Atualmente, resido em Guarulhos/SP e trago uma trajetória profissional diversificada. Inicialmente,
        formei-me em Administração e adquiri experiência valiosa durante meu estágio no Instituto Federal de Minas
        Gerais (IFMG). Embora minha jornada tenha começado nessa área, minha paixão pela tecnologia me levou a fazer uma
        transição de carreira há um ano.</h4>
    <h4>
        Hoje, estou focada em atuar como desenvolvedora na área de Frontend, onde tenho a oportunidade de criar
        experiências envolventes e atraentes para os usuários. Sou uma pessoa dedicada e valorizo a colaboração e a
        troca de experiências em equipe. Comprometimento e ética são princípios fundamentais para mim, cumprindo
        promessas e mantendo altos padrões éticos. Reconheço a importância da comunicação eficaz e estou em constante
        aprimoramento.</h4>
    <h4>
        Além disso, busco sempre melhorar meu planejamento, organização e gerenciamento de tempo para maximizar a
        eficiência. Meu compromisso é crescer profissionalmente, adquirindo novas habilidades e aprimorando as
        existentes para alcançar excelência em todas as áreas. Estou ansiosa para continuar minha jornada de aprendizado
        e contribuir de forma significativa no mundo da tecnologia, buscando sempre novos desafios e oportunidades de
        crescimento.
    </h4>
</div>