/* Estilos para o cabeçalho */
section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-azul-escuro);
  color: #fff;
  width: 100%;
  padding: 10px 200px 10px 600px;
}

section div {
  cursor: pointer;
  padding: 10px;
}

section div.active {
  background-color: #fff;
  color: var(--cor-azul-escuro); 
  font-weight: bold;
}

section div:not(.active) {
  background-color: var(--cor-azul-escuro); 
  color: #fff; 
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

section a {
  display: inline-block;
}

app-home,
app-about,
app-skills,
app-education,
app-experience,
app-projects {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

app-home.ng-star-inserted,
app-about.ng-star-inserted,
app-skills.ng-star-inserted,
app-education.ng-star-inserted,
app-experience.ng-star-inserted,
app-projects.ng-star-inserted {
  display: block;
}
