* {
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fonte-texto);
    text-decoration: none;
    color: aliceblue;
    margin: 15px 0;
}

.card-experience {

        width: 90%;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--cor-texto);
        border-radius: 5px;
        padding: 20px;
        margin: 0 50px;
        margin-top: 30px;
        background-color: rgba(8, 47, 82, 0.932);
        box-shadow: 10px 10px rgb(3, 28, 49);
        line-break: auto;
        text-align: justify;
}