h4 {
    text-shadow: 5px 3px 2px rgba(0, 0, 0, 0.219);
    font-size: var(--fonte-texto);
    padding: 50px 5% 0 5%;
    text-align: center;
    line-height: 30px;
    font-weight: 200;
    letter-spacing: -2px;



}