<div class="card-project">
    <app-background-card-project (click)="toggleProjectDetails()">
        <h2><span class="mes-ano">{{ mesAno }}</span> {{ projectName }}  </h2>
        <div *ngIf="expanded">
      <p><strong>Projeto:</strong> {{ project }}</p>
      <p><strong>Descrição:</strong> {{ projectDescription }}</p>
      <p><strong>Habilidades Desenvolvidas:</strong> {{ habilidades }}</p>
      <p><strong>Link do Projeto:</strong> <a href="{{ linkProjeto }}" target="_blank">{{ linkProjeto }}</a></p>
      <p><strong>Link do GitHub:</strong> <a href="{{ linkGithub }}" target="_blank">{{ linkGithub }}</a></p>
      <img src="{{ fotoProjeto }}" alt="Foto do Projeto">
      </div>
    </app-background-card-project>
  </div>
  