section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-azul-escuro);
  color: var(--cor-texto);
  width: 100%;
  padding: 10px 200px 10px 600px;
}

section div {
  cursor: pointer;
  padding: 10px;
  border-bottom: 3px solid transparent; 
}

section div.active {
  color: var(--cor-texto);
  font-weight: bold;
  border-bottom-color: var(--cor-texto);

}

section div:not(.active) {
  color: var(--cor-texto);
}

a {
  color: var(--cor-texto);
  text-decoration: none;
}


section a {
  display: inline-block;
}

app-home,
app-about,
app-skills,
app-education,
app-experience,
app-projects {
  display: none;
  padding: 10px;

}
