<div class="header">Skills</div>
<div class="skills">
    <h4>I love to learn new things and experiment with new technologies. These are some of the major languages,
        technologies, tools and platforms I have worked with:
    </h4>
    <div>
        <h3>Languages &amp; Databases</h3>
        <div><img src="../../../assets/java.png" alt="Java">
            <p>Java</p>
        </div>
        <div><img src="../../../assets/js.png" alt="JavaScript">
            <p>JavaScript</p>
        </div>
        <div><img src="../../../assets/postgresql.png" alt="MySQL">
            <p>PostgreSQL</p>
        </div>
    </div>
    <div>
        <h3>Frameworks &amp; Technologies</h3>
        <div><img src="../../../assets/angular.png" alt="React">
            <p>Angular</p>
        </div>
        <div><img src="../../../assets/react.png" alt="React">
            <p>React</p>
        </div>
        <div><img src="../../../assets/nodejs.png" alt="Nodejs">
            <p>Nodejs</p>
        </div>
    </div>
    <div>
        <h3>Tools &amp; Platforms</h3>
        <div><img src="../../../assets/git.png" alt="Git">
            <p>Git</p>
        </div>
    </div>
</div>