<app-background-inside>

    <h1>Habilidades</h1>
    <h4>Gosto de explorar novos horizontes e experimentar diversas tecnologias. Abaixo, listo algumas
        das principais linguagens, ferramentas e plataformas com as quais tenho experiência:
    </h4>


    <h3>Linguagens &amp; Banco de Dados</h3>
    <div class="container-skills">
        <!-- <div class="skills">
            <img [src]="javaImage" alt="Java">
            <p>Java</p>
        </div> -->
        <div class="skills">
            <img [src]="htmlImage" alt="HTML">
            <p>HTML</p>
        </div>
        <div class="skills">
            <img [src]="cssImage" alt="CSS">
            <p>CSS</p>
        </div>
        <div class="skills">
            <img [src]="jsImage" alt="JavaScript">
            <p>JavaScript</p>
        </div>
        <div class="skills">
            <img [src]="postgresqlImage" alt="PostgreSQL">
            <p>PostgreSQL</p>
        </div>
    </div>

    <h3>Frameworks &amp; Tecnologias</h3>
    <div class="container-skills">
        <div class="skills">
            <img [src]="angularImage" alt="Angular">
            <p>Angular</p>
        </div>
        <div class="skills">
            <img [src]="reactImage" alt="React">
            <p>React</p>
        </div>
        <div class="skills">
            <img [src]="nodejsImage" alt="Node.js">
            <p>Node.js</p>
        </div>
    </div>


    <h3>Ferramentas &amp; Plataformas</h3>
    <div class="container-skills">
        <div class="skills">
            <img [src]="gitImage" alt="Git">
            <p>Git</p>
        </div>
        <div class="skills">
            <img [src]="vscodeImage" alt="VSCode">
            <p>VSCode</p>
        </div>
        <div class="skills">
            <img [src]="firebaseImage" alt="Firebase">
            <p>Firebase</p>
        </div>
        <div class="skills">
            <img [src]="figmaImage" alt="Figma">
            <p>Figma</p>
        </div>
    </div>

</app-background-inside>
