<div class="header">Skills</div>
<div class="skills">
    <h4>I love to learn new things and experiment with new technologies. These are some of the major languages,
        technologies, tools and platforms I have worked with:
    </h4>
    <div>
        <h3>Languages &amp; Databases</h3>
        <div><img [src]="javaImage" alt="Java"><p>Java</p></div>
        <div><img [src]="jsImage" alt="JavaScript"><p>JavaScript</p></div>
        <div><img [src]="postgresqlImage" alt="PostgreSQL"><p>PostgreSQL</p></div>
    </div>
    <div>
        <h3>Frameworks &amp; Technologies</h3>
        <div><img [src]="angularImage" alt="Angular"><p>Angular</p></div>
        <div><img [src]="reactImage" alt="React"><p>React</p></div>
        <div><img [src]="nodejsImage" alt="Node.js"><p>Node.js</p></div>
    </div>
    <div>
        <h3>Tools &amp; Platforms</h3>
        <div><img [src]="gitImage" alt="Git"><p>Git</p></div>
    </div>
</div>
